@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground scroll-smooth;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* SWIPER STYLES */
.swiper-button-next,
.swiper-button-prev {
  color: #fb6d10 !important;
  fill: #fb6d10 !important;
  stroke: #fb6d10 !important;
}

.swiper-pagination-bullet {
  background-color: #fb6d10 !important;
}

.swiper-pagination-bullet-active {
  background-color: #fb6d10 !important;
}

/* BROWSER STYLES */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #fb6d10;
  height: 10%;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fb6d10;
}

::-webkit-scrollbar-track {
  background-color: #1d232a;
}

::selection {
  color: #fff;
  background-color: #fb6d10;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #fb6d10;
  border-radius: 40px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.section-padding {
  @apply py-10 sm:py-20;
}

.p-regular {
  @apply text-sm md:text-base dark:text-gray-400 text-gray-900 leading-10;
}

@media print {
  @page {
    size: auto;
    margin: 0.8cm;
  }
}
